* {
    margin: 0;
    box-sizing: border-box;
    font-family: montserrat;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    --heading: 22px;
    --subheading: 40px;
    --paragraph: 18px;
    --other: 18px;
    --largegap: 50px;
    --mediumgap: 20px;
    --blue: #0d111c;
    --yellow: #f58b0a;
    --muted: #868ca3;
    --white: #fff;
    --sectionpadding: 90px 300px;
    --paragraph-small-pad-bot: 15px;
    --smallmargin-bottom: 30px;
    --overlay: #00000094;
}

.muted {
    color: var(--muted) !important;
    font-size: var(--paragraph) !important;
    line-height: 28px;
}

.yellow-btn {
    margin-top: 15px;
    border: none;
    padding: 10px 20px;
    background-color: var(--yellow);
    font-size: var(--other);
    border-radius: 3px;
    transition: 0.2s ease-in;
}

.yellow-btn a {
    color: var(--white);
}

.white-btn {
    margin-top: 15px;
    border: none;
    padding: 10px 20px;
    background-color: var(--white);
    color: var(--yellow);
    font-size: var(--other);
    border-radius: 3px;
    transition: 0.2s ease-in;
}

.yellow-btn:hover {
    background-color: var(--blue);
}

.white-btn:hover {
    background-color: var(--yellow);
    color: var(--yellow);
}

/*header*/
header {
    position: sticky;
    top: 0px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 300px;
    background-color: var(--white);
}

.header-bottom img {
    width: 150px;
}

.header-top {
    display: flex;
    gap: var(--mediumgap);
    align-items: center;
    padding: 10px 300px;
    background-color: var(--blue);
}

.header-top p {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 7px;
}

nav {
    display: flex;
    gap: var(--mediumgap);
}

nav a {
    color: var(--blue);
}

nav a:hover {
    color: var(--yellow);
}

.menu {
    display: none;
    background-color: var(--yellow);
    padding: 10px 10px 7px 10px;
}

/*hero*/
.hero {
    background: url("./images/bg1.jpg") no-repeat center;
    background-size: cover;
}

.hero-overlay {
    background-color: var(--overlay);
    padding: 130px 800px 130px 300px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: var(--mediumgap);
}

.hero-heading {
    font-size: var(--heading);
}

.hero-subheading {
    font-size: 75px;
}

.hero-para {
    font-size: var(--other);
    line-height: 25px;
}

/*about*/
.about {
    display: flex;
    padding: var(--sectionpadding);
    gap: var(--largegap);
}

.about p {
    font-size: var(--heading);
}

.about h1 {
    padding-top: 10px;
    font-size: var(--subheading);
}

.about-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-info-list {
    display: flex;
    gap: var(--mediumgap);
}

.about-info {
    background-color: var(--white);
    padding: 25px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.about-right {
    width: 40%;
}

.about-right img {
    border-radius: 10px;
}

/*services*/
.services {
    padding: var(--sectionpadding);
}

.services p {
    font-size: var(--heading);
}

.services h1 {
    padding-top: 10px;
    font-size: var(--subheading);
}

.services select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.services-list {
    display: flex;
    margin-top: 15px;
    gap: var(--mediumgap);
}

.service {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: ease 3s;
    flex: 1;
}

.imged {
    height: 570px;
}

.service img {
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 100%;
}

.service-bottom {
    padding: 15px 20px 20px 20px;
}

.service-bottom h1 {
    font-size: var(--heading);
}

/*cta*/
.cta {
    background: url("./images/bg2.jpg") no-repeat center;
    background-size: cover;
}

.cta-overlay {
    padding: var(--sectionpadding);
    background-color: var(--overlay);
    display: flex;
    align-items: center;
    gap: var(--largegap);
    justify-content: space-between;
    color: var(--white);
}

.cta-overlay p {
    font-size: var(--heading);
}

.cta-overlay h1 {
    padding-top: 10px;
    font-size: var(--subheading);
}

.cta-overlay button {
    width: 160px
}

/*projects*/
.projects {
    padding: var(--sectionpadding);
}

.project-group {
    display: flex;
    gap: var(--mediumgap);
    overflow-X: scroll;
    scrollbar-width: none;
    margin-top: 15px;
}

.project {
    border: 1px solid var(--muted);
    min-width: 450px;
}

.project img {
    height: 250px;
}

/*testimonial*/
.testimonials {
    padding: var(--sectionpadding);
    background-color: var(--blue);
    display: flex;
    gap: var(--mediumgap);
}

.test-content {
    flex: 1;
}

.test-content p {
    font-size: var(--heading);
    color: var(--white);
}

.test-content h1 {
    padding: 10px 0px;
    font-size: var(--subheading);
    color: var(--white);
}

.test-list {
    width: 55%;
    display: flex;
    gap: var(--mediumgap);
}

.test {
    border: 1px solid var(--yellow);
    flex: 1;
}

.test-top {
    background-color: var(--white);
    padding: 10px;
    display: flex;
    gap: var(--mediumgap);
}

.test-top img {
    border: 1px solid var(--yellow);
}

.test-bottom {
    padding: 10px;
}

/*contact*/
.contact {
    padding: var(--sectionpadding);
    display: flex;
    gap: var(--mediumgap);
    background-color: #f7f7f7;
}

.contact div {
    flex: 1;
}

.contact p {
    font-size: var(--heading);
}

.contact h1 {
    padding-top: 10px;
    font-size: var(--subheading);
}

.info {
    background-color: var(--white);
    padding: 25px 15px;
    display: flex;
    align-items: center;
    gap: var(--mediumgap);
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form-container {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    width: 100%;
    cursor: pointer;
}

.contact-socials {
    display: flex;
    gap: var(--mediumgap);
    margin: 25px 0px;
}

.contact-socials svg {
    background-color: var(--yellow);
    padding: 5px;
    border-radius: 4px;
}

/*footer*/
.footer-top {
    background-color: var(--blue);
    padding: var(--sectionpadding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--mediumgap)
}

.footer-top div {
    flex: 1;
    flex-basis: 300px;
}

.footer-top div h1,
.footer-top div img {
    color: var(--white);
    font-size: var(--heading);
    margin-bottom: var(--smallmargin-bottom);
}

.footer-top div p {
    color: var(--white);
    font-size: var(--other);
    padding-bottom: var(--paragraph-small-pad-bot);
    transition: ease 0.2s;
    display: flex;
    align-items: center;
    gap: var(--mediumgap);
}

.footer-top div p:hover {
    color: var(--yellow);
    font-size: var(--paragraph);
    padding-bottom: var(--paragraph-small-pad-bot);
}

.footer-socials {
    display: flex;
    gap: var(--mediumgap);
    margin-top: 5px;
}

.footer-socials svg {
    background-color: var(--white);
    padding: 5px;
    border-radius: 4px;
}

.footer-bottom {
    padding: 25px 300px;
    display: flex;
    gap: var(--mediumgap);
    justify-content: space-between;
    background-color: var(--blue);
    border-top: 1px solid var(--muted);
}

@media (max-width: 992px) {
    :root {
        --sectionpadding: 50px;
    }

    .header-top {
        padding: 10px 50px;
    }

    .header-bottom {
        padding: 30px 50px;
    }
}

@media (max-width: 768px) {
    :root {
        --sectionpadding: 60px 25px;
        --heading: 18px;
        --subheading: 24px;
    }

    .menu {
        display: block;
    }

    nav {
        display: none;
        width: 100%;
        background-color: var(--yellow);
        position: absolute;
        top: 110px;
        left: 0;
        transition: 30s ease;
        z-index: 100;
    }

    nav a {
        padding: 10px 25px;
        display: block;
        color: var(--white);
        border-bottom: 1px solid var(--white);
    }

    .header-top {
        display: none;
    }

    .header-bottom {
        padding: 25px;
    }

    .header-bottom img {
        width: 120px;
    }

    .hero-overlay {
        padding: 60px 25px;
    }

    .hero-subheading {
        font-size: 30px;
    }

    .about {
        flex-direction: column;
    }

    .about-info-list {
        flex-direction: column;
    }

    .about-left {
        width: 100%;
    }

    .about-right {
        width: 100%;
    }

    .project {
        min-width: 250px;
    }

    /*service*/
    .services-list {
        flex-direction: column;
        gap: var(--mediumgap);
    }

    .imged {
        height: 450px;
    }

    .cta-overlay {
        flex-direction: column;
        align-items: start;
    }

    .testimonials {
        flex-direction: column;
        gap: 20px;
    }

    .test-list {
        min-width: 100%;
        flex-direction: column;
    }

    .contact {
        flex-direction: column;
    }

    .footer-bottom {
        padding: 25px;
        flex-direction: column;
    }
}